/*   ************Custom Properties*********** */
:root {
  --firt-color--: rgb(62, 81, 122);
  --second-color--: rgb(168, 224, 255);
  --third-color--: rgb(240, 25, 25);
  --bg-alpha-color--: rgba(245, 245, 245, 0.75);
  --color-letra-blanco--: rgb(255, 255, 255);
}

/*  *************** Reset Styles **************** */

body {
  .lato-thin {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: normal;
  }

  .lato-light {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
  }

  .lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .lato-bold {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  .lato-black {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
  }

  .lato-thin-italic {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: italic;
  }

  .lato-light-italic {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: italic;
  }

  .lato-regular-italic {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: italic;
  }

  .lato-bold-italic {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: italic;
  }

  .lato-black-italic {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
}

/* **********   Boostrap Styles   *************/

/* *************** My Styles ******************/

@media (min-width: 576px) {
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}
@media (min-width: 1400px) {
}
.bg-color {
  background-color: rgb(62, 81, 122);
}

.fondo {
  background-color: var(--firt-color--);
  margin: 30px 40px 10px 10px;
  color: var(--color-letra-blanco--);
}
